<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trainingtwitter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
	
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" android:label="My Twitter">
        <activity
            android:name="com.example.trainingtwitter.TwitMainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.example.trainingtwitter.services.TwitterService" android:enabled="true"></service>
        <provider android:name="com.example.trainingtwitter.database.TwitterContentProvider" 
            android:authorities="com.example.trainingtwitter" android:exported="false"></provider>
        <receiver android:name=".services.TwitterAlarmReceiver" ></receiver>
        <activity android:configChanges="orientation" android:name="com.example.trainingtwitter.TwitSettingActivity"></activity>
        <activity android:configChanges="orientation" android:name="com.example.trainingtwitter.TwitterAboutUsActivity"></activity>
    </application>

</manifest>
